
.wrapper {
    text-align: center;
    background: rgb(49, 49, 177);
    background: linear-gradient(
      0deg,
      rgba(49, 49, 177, 1) 0%,
      rgba(49, 49, 177, 1) 50%,
      rgba(49, 49, 177, 0.6) 100%
    );
 
    color:white;
    padding-bottom:8%;
}


.content {
    padding-top:2%;
    width: 100%;
    margin:auto;
}
.col-4 {
    width: 25%;
    float: left;
}

.wrapper h1 {
    font-size: 38px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom:2%;
}

@media (min-width: 768px) {
    .content {
        width: 1100px;
    }
    h1 {
        font-size: 58px;
    }
}


.emailcontact {
    max-width: 420px;
    margin: 0 auto;
}
.emailcontact p {
    text-align: center;
    font-weight: 500;
    margin-top:2%;
}
input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}